<h1>Dice Game</h1>
<hr />
<tr>
<!--    <%= @ftry1%>
  <%= @ftry2%> -->
  <td><img width = 200 height = 180 <%= image_tag @ftry1 %></td>
  <td><img width = 200 height = 180 <%= image_tag @ftry2 %></td>
</tr>
<h2><%=@fsum%></h2>
<h1><%=@result%></h1>
<a href="/dice/continue">Roll Again</a>
