<h1>Dice Game</h1>
<hr />
<tr>
<!--   <%= @try1%>
  <%= @try2%> -->

  <td><img width = 200 height = 180 <%= image_tag @try1 %></td>
  <td><img width = 200 height = 180 <%= image_tag @try2 %></td>
</tr>
<h2><%=@sum%></h2>
<h1><%=@result%></h1>
<a href="/dice/continue">Roll Again</a>
